// @import '../node_modules/react-blur-admin/src/assets/styles/blur/app.scss'
body
    background: transparent
    background-color: transparent

.al-main
    padding-top: 20px

.content-top
    display: none

th
    text-align: center
td
    text-align: center

.modal-dialog
    width: 1200px

.modal-col
    width: 550px

.modal-footer
    display: none

.download-csv
    font-color: #FFFFFF
    text-align: right

.button-list
    height: 40px

    &>button
        vertical-align: middle
        float: right
        margin-left: 10px
// @import "_layout.sass"
// @import "_settings.sass"
